<%= simple_form_for [:admin, @lesson]  do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%=f.input :start_at %>
      <%=f.input :end_at %>
      <%=f.input :durration %>
      <%=f.association :room, label_method: :code %>
      <%=f.association :teacher, label_method: :last_name %>
      <%=f.association :course, label_method: :code %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>