<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @teacher_assigment.teacher %>
</p>

<p>
  <strong>Course:</strong>
  <%= @teacher_assigment.course %>
</p>

<%= link_to 'Edit', edit_teacher_assigment_path(@teacher_assigment) %> |
<%= link_to 'Back', teacher_assigments_path %>
