<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :building_title %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :building_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
