<h1 class="container__h1">Seznam místností</h1>
<nav class="container__nav">

  <%= link_to 'Seznam Budov', root_path, :class=>"container__item" %>
  <p class="container__item">&gt;</p>
  <%= link_to @building.title, session[:return_to] ||= request.referer, :class=>"container__item" %>
  <p class="container__item">&gt;</p>
  <a class="container__item">Rozvrh dne</a>
</nav>

<table class="table table-today">
  <tr class="table__heading">
    <th>Čas</th>
    <th>Místnost</th>
    <th>Název předmětu</th>
    <th>Vyučující</th>
  </tr>
  <!--TODO: Musí být vidět kolik studentů je na které lekci zapsáno (nemusí být vidět jací studenti, ale jejich počet ano)-->

  <%	@lessons.each do |lesson|  %>
      <tr class="table__body">
        <td><%= lesson.start_at.strftime("%I:%M%p") %> - <%= lesson.end_at.strftime("%I:%M%p") %></td>
        <td><%= lesson.room.title %></td>
        <td><%= lesson.course.title %></td>
        <td><%= lesson.teacher.first_name %> <%= lesson.teacher.last_name %></td>
      </tr>
  <%	end  %>
</table>