<h1 class="container__h1">Seznam Budov</h1>
<nav class="container__nav">
  <%= link_to 'Seznam Budov', admin_buildings_path, :class=>"container__item" %>
  <p class="container__item">&gt;</p>
  <a class="container__item">Seznam místností</a>
</nav>
<%= link_to 'Denní rozpis', building_today_url , :class=>'button' %>
<ul class="seznam">
  <% @rooms.each do |room| %>
      <li class="seznam__li">
        <%= link_to "#{room.code}: #{room.title}", [:admin, room], :class=>"seznam__a" %>
        <%= link_to 'Edit', edit_admin_room_path(room), :class=>"seznam__a seznam__a-right" %>
        <%= link_to 'Destroy', [:admin, room], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"seznam__a seznam__a-end" %>
      </li>
  <% end %>
</ul>
