<%= simple_form_for [:admin, @course]  do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%=f.input :title %>
      <%=f.input :code %>
      <%=f.input :language %>
      <%=f.input :study_type %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>