<%= form_with(model: student_assigment, local: true) do |form| %>
  <% if student_assigment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_assigment.errors.count, "error") %> prohibited this student_assigment from being saved:</h2>

      <ul>
      <% student_assigment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :student_assigment_course_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :student_assigment_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
