<%= simple_form_for [:admin, @student_assigment]  do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%=f.association :student, label_method: :first_name %>
      <%=f.association :course, label_method: :title %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
