<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @student_assigment.course %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_assigment.student %>
</p>

<%= link_to 'Edit', edit_student_assigment_path(@student_assigment) %> |
<%= link_to 'Back', student_assigments_path %>
