<!DOCTYPE html>
<html>
<head>
  <title>Rezervační Systém UCL</title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700%7CAlegreya:400,700&amp;subset=latin-ext" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="header">
  <nav class="header__nav">
    <ul class="header__ul">
      <li>
        <%= link_to 'Dashboard', '/admin', :class => "header__a #{current_class?('dashboard')}" %>
      </li>
      <li>
        <%= link_to 'Building', admin_buildings_url, :class => "header__a #{current_class?(admin_buildings_path)}" %>
      </li>
      <li>
        <%=	link_to 'Rooms', admin_rooms_path, :class => "header__a #{current_class?(admin_rooms_path)}"%>
      </li>
      <li>
        <%= link_to 'Teachers', admin_teachers_path, :class => "header__a #{current_class?(admin_teachers_path)}" %>
      </li>
      <li>
        <%= link_to 'Courses', admin_courses_path, :class => "header__a #{current_class?(admin_courses_path)}" %>
      </li>
      <li>
        <%= link_to 'Student', admin_students_path, :class => "header__a #{current_class?(admin_students_path)}" %>
      </li>
      <li>
        <%= link_to 'Lessons', admin_lessons_path, :class => "header__a #{current_class?(admin_lessons_path)}" %>
      </li>
      <li>
        <%= link_to 'Student Assigments', admin_student_assigments_path, :class => "header__a #{current_class?(admin_student_assigments_path)}" %>
      </li>
      <li>
        <%= link_to 'Teacher Assigments', admin_teacher_assigments_path, :class => "header__a #{current_class?(admin_teacher_assigments_path)}" %>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <%= yield %>
</div>
<footer class="footer">
  <p class="footer__p">&copy; Tadeáš Firich 2017</p>
</footer>
</body>
</html>
